
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
background-size: cover;
background-repeat: no-repeat;
color: #2f3946;
}
body{
  min-width: 400px;
}

.footer-z>a:hover{
transform:rotate(360deg);
transition: 2s;
background-color: #2f3946;

}

#logo-z:hover{
  transform:rotate(180deg);
  transition: 2s ease-in-out;
  background-color: #2f3946;

  }
.showCase{
  background-image:url("/images/homepage/img1.png");
  animation-name:showcase;
  animation-duration: 10s;
  animation-iteration-count: infinite;
height:400px;
}

.title-z{
  color: #2f3946;
  letter-spacing: 20px;
}
@keyframes showcase{
  25%{  background-image:url("/images/homepage/img5.png");
  }
  50%{  background-image:url("/images/homepage/img4.png");

  }
  75%{  background-image:url("/images/homepage/img1.png");

  }
  100%{  background-image:url("/images/homepage/img5.png");

  }

}

.containerTable-z{
  overflow: scroll;

}




.aboutmaintext{
  line-height: 2rem;
  animation-name: linemove;
  animation-duration: 4s;
  animation-direction:alternate-reverse;
    }


    @keyframes linemove{

    from{  line-height:2rem;
     

    }
    to{
      line-height: 1px;

    }
    }





@media screen and (max-width: 768px) {
  .containerTable-z>table {

    font-size:5px;
  }

  .aboutmaintext{
    font-size: 10px;
    line-height:1rem;
  }

  .title-z{
    letter-spacing: 15px;
  }
}








  

