
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
background-size: cover;
background-repeat: no-repeat;
color: #2f3946;
}
body{
  min-width: 400px;
}

.footer-z>a:hover{
transform:rotate(360deg);
transition: 2s;
background-color: #2f3946;

}
.showCase{
  background-image:url("/images/homepage/img1.png");
  animation-name:showcase;
  animation-duration: 10s;
  animation-iteration-count: infinite;
height:400px;
}

.title-z{
  color: #2f3946;
}
@keyframes showcase{
  25%{  background-image:url("/images/homepage/img5.png");
  }
  50%{  background-image:url("/images/homepage/img4.png");

  }
  75%{  background-image:url("/images/homepage/img1.png");

  }
  100%{  background-image:url("/images/homepage/img5.png");

  }

}



@media screen and (max-width: 768px) {
  .main-container {
    height: 5vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .borger {
    background-color: white;
    width: 10vw;
    height: 0.5vh;
    margin-bottom: 0.5vh;
  }
  .main-container:active {
    height: max-content;
    transition-duration: 1s;
  }
  .main-container:hover {
    height: max-content;
    transition-duration: 1s;
  }
  .bigimagcontainer {
    background-position: 0% 30%;
    height: 25vh;
  }
  .navul {
    font-size: 1.5vh;
  }
  .listcontainer {
    display: flex;
    flex-direction: column;
  }
}




@keyframes slid_li{
from{transform: translateX(100%);
  opacity: 0;
}
to{transform: translateX(0%);
  opacity: 1;
}
}





<section class="my-5">
    <div class="container my-3">
        <h1 class="card-title text-center my-5">BALI-PHONE</h1>
    </div>

    <div id="loading"></div>
  </section>


  

